@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Epilogue&display=swap');


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.sponsor-container {
	padding: 30px;
	background: #fff;
	width: 100%;
}

.sponsor-heading {
	text-decoration: none;
}

.sponsor-heading h1 {
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	line-height: 57.6px;
	color: #075475;
	font-size: 48px;
	margin-bottom: 30px;
}

.sp-indiv{
	display: flex;
	align-items: center;
	justify-content: center;
}

.sponsor-images .sp-indiv img{
	height: 150px;
	width: 200px;
	margin: 72px;
	left: 416px;
	border-radius: 23px;
}

.row {
	display: block;
	text-align: center;
	color: #075475;
	text-decoration: none;
}

.sponsor-bottom h2{
	font-weight: lighter;
}

.sponsor-bottom {
	font-family: Bebas Neue;
	color: #075475;
	font-size: 30px;
	margin-top: 120px;
	font-weight: normal;
	/*line-height: 72px;*/
	text-align: center;
	font-weight: normal;
}

.reg-btn:link,
.reg-btn:visited {
    padding: 10px 30px;
    font-weight: normal;
    text-decoration: none;
    border-radius: 12px; 
    background-color: #DFB005;
    border: 1px solid #DFB005;
    color: #000;
}

.sponsor-bottom a{
	display: inline-block;
	font-weight: normal;
	font-family: Epilogue;
	font-style: normal;
	font-size: 16px;
    margin-top: 40px;
    width: 20%;
    align-content: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .sponsor-heading ,.sponsor-images {
      text-align: center
   
    }

    .sp-indiv {
    	display: block;
    }

    .sponsor-bottom {
    	margin-top: 40px;
    	font-size: 20px;
    }

    .sponsor-bottom a {
    	width: 50%;
    	left: 50%;
    }

    .reg-btn {
    	padding: 0;
    }
}


