*{
	padding: 0;
	margin: 0;
}

body {/*
	display: flex;
	justify-content: center;
	align-items: center;*/
	align-content: center;
	justify-content: center;
	align-items: center;
	background-color: #fff; 
}

.sponsor-start {
	padding: 30px;
	background: #fff;
	width: 100%;
}

.sponsor-heading {
	text-decoration: none;
	font-weight: normal;
}

.sponsor-heading h1 {
	text-align: center;
	color: #075475;
	font-size: 35px;
	margin-bottom: 30px;
}

.sponsor-container2 {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	padding: 30px;
}

.sponsor-container2 .card {
	position: relative;
	max-width: 300px;
	height: 215px;
	background: #075475;
	margin: 30px 10px;
	padding: 20px 15px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 5px 20px rgba(0,0,0,0.5);
	transition: 0.3s ease-in-out;
}

.sponsor-container2 .card:hover {
	height: 420px;
}

.sponsor-container2 .card .sponsor-image {
	position: relative;
	width: 260px;
	height: 260px;
	top: -60px;
	left: 20px;
	z-index: 1;
	box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.sponsor-container2 .card .sponsor-image img {
	max-width: 100%;
	border-radius: 4px;
}

.sponsor-container2 .card .content {
	position: relative;
	margin-top: -140px;
	padding: 10px 15px;
	text-align: center;
	color: #fff;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease-in-out;
}

.sponsor-container2 .card:hover .content {
	visibility: visible;
	opacity: 1;
	margin-top: -40px;
	transition-delay: 0.3s;
}

.sponsor-bottom {
	color: #075475;
	font-size: 30px;
	margin-top: 5%;
	text-align: center;
	font-weight: normal;
}

.reg-btn:link,
.reg-btn:visited {
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px; 
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
}

.sponsor-bottom a{
	display: inline-block;
    margin-top: 40px;
    width: 20%;
    align-content: center;
    justify-content: center;
    margin-bottom: 10%;
}

.reg-btn:hover,
.reg-btn:active{
    background-color: #cf6d17;
    border: 1px solid #e67e22;
    background-color: #cf6d17;
    
}

@media only screen and (max-width: 500px) {
    .sponsor-heading ,.sponsor-image {
      text-align: center
   
    }

    .sponsor-container2 {
    	display: block;
    }

    .sponsor-container2 .card .sponsor-image{
    	margin-top: 40px;
    }

    .sponsor-bottom {
    	margin-top: 40px;
    	font-size: 20px;
    }

    .sponsor-bottom a {
    	width: 50%;
    	left: 50%;
    }

    .reg-btn {
    	padding: 0;
    }
}


